body {
  background-color: black;
  color: green;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 100px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
